@charset "UTF-8";

body{
    text-align: center;
}
#fundo{
    background-color: rgb(117, 48, 255);
}
#flista{
    width: 400px;
    text-align: center;
    font-size: 30px;
}
#titu{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#res{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(238, 255, 0);
}
header{
    color: rgb(255, 255, 255);
    text-align: center;
}
section{
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0,0, 479);
}
section > div {
    text-align: center;
    padding: 10px;
    color: rgb(0, 255, 242);
}
footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding: 30px;
}